.profile-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap:48px;
    column-gap: 16px;
}

.profile-wrapper{
    display:grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 16px;
    height: 150px;
}

.profile-wrapper .profile-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: cover !important;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.profile-wrapper h5{
    grid-column: 2;
    grid-row: 1;
    margin:0 !important;
    align-self: flex-end;
}
.profile-wrapper .department{
    grid-column: 2;
    grid-row: 2;
    margin:0 !important;
    align-self: center;
}
.profile-wrapper .description{
    grid-column: 2;
    grid-row: 3;
    margin:0 !important;
}